<h1>Recipe</h1>
<h3><%= @recipe.title %></h3>
<h2>By: <%= @recipe.chef %>
<h4>Updated On: <%= @recipe.friendly_updated_at %></h4>

<h3>Prep Time: <%= @recipe.friendly_preptime %></h3>

<h3>Ingredients:</h3>
<ul>
  <%= @ingredient_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Directions:</h3>
<ol>
  <%= @directions_list.each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>

<h3><%= image_tag @recipe.image %></h3>